
  {{ form_start(form) }}

  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.title, "Job title") }}

    {{ form_errors(form.title) }}

    <div>
      {{ form_widget(form.title, {'attr': {'class': 'form_control'} } ) }}
    </div>
  </div>

  {{ form_row(form.content) }}

  {{ form_row(form.categories) }}

  <!-- <a href="#" id="add_category" class="btn btn-default"> Ajouter une catégorie</a> -->

  {{ form_rest(form) }}

  {{ form_widget(form.saved, {'attr': {'class': 'btn btn-primary'} } ) }}

  {{ form_end(form) }}
