{% extends 'base.html.twig' %}

{% block body %}

<h1>Advert view n° {{ advert.id }} title: {{ advert.title }}</h1>
{% if advert.image is not null %}
  <img style="width:800px; height:250px" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
{% endif %}
<p>Author: {{ advert.author }}</p>
<p>Content: {{ advert.content }}</p>
<p>Date: {{ advert.date|date("d/m/Y") }}</p>
<p>Updated: {{ advert.updatedAt|date("d/m/Y H:i:s")}}
  <p>Nb app: {{ advert.nbApplications }}</p>
<p>Catégories :
  <ul>
    {% for category in listCategories %}
      <li>{{ category.name }}</li>
    {% endfor %}
    {% if advert.categories|length == 0 %}
      <li>Pas de catégories</li>
    {% endif %}
  </ul>
</p>

<p>Cette annonce requiert les compétences suivantes:
  <ul>
  {% if listAdvertSkills|length > 0 %}
    {% for advertSkill in listAdvertSkills %}
      <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
    {% endfor %}
  {% else %}
    <li>Aucune connaissance spécifique.</li>
  {% endif %}
  </ul>
</p>

<h2> Applications </h2>
{% for application in listApplications %}
  <div>
    <p>Id: {{ application.id }}</p>
    <p>Date: {{ application.date|date("d/m/Y") }} </p>
    <p>Author: {{ application.author }} </p>
    <p>Content: {{ application.content }} </p>
  </div>
{% endfor %}

{% if listApplications|length == 0 %}
  <p>Il n'y a pas de candidatures pour le moment !</p>
{% endif %}

<div>
  {% for message in app.session.flashbag.get('info') %}
    <p>Message flash : {{ message }}</p>
  {% endfor %}
</div>
{% endblock %}
