<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="favicon.ico">
        <title>{% block title %}LFjA in Symfony3{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        {% block stylesheets %}
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{{ asset("plugins/bootstrap/bootstrap.min.css") }}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{{ asset("plugins/ionicons/ionicons.min.css") }}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset("plugins/animate-css/animate.css") }}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{{ asset("plugins/slider/slider.css") }}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{{ asset("plugins/owl-carousel/owl.carousel.css") }}">
        <link rel="stylesheet" href="{{ asset("plugins/owl-carousel/owl.theme.css") }}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{{ asset("plugins/facncybox/jquery.fancybox.css") }}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ asset("css/custom.css") }}">
        {% endblock stylesheets %}
    </head>

    <body>

    {% block body %}

    {% block header %}
    {{ include('@OCPlatform/Default/header.html.twig') }}
    {% endblock header %}

    {% block headertitle %}
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>{% block h1title %}{% endblock h1title %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock headertitle %}

    {% block main %}

    {% endblock main %}

    {% block footer %}
    {{ include('@OCPlatform/Default/footer.html.twig') }}
    {% endblock footer %}

    {% endblock body %}

    {% block javascripts %}
    <!-- Template Javascript Files
  	================================================== -->
  	<!-- jquery -->
  	<script src="{{ asset("plugins/jQurey/jquery.min.js") }}"></script>
  	<!-- Form Validation -->
      <script src="{{ asset("plugins/form-validation/jquery.form.js") }}"></script>
      <script src="{{ asset("plugins/form-validation/jquery.validate.min.js") }}"></script>
  	<!-- owl carouserl js -->
  	<script src="{{ asset("plugins/owl-carousel/owl.carousel.min.js") }}"></script>
  	<!-- bootstrap js -->
  	<script src="{{ asset("plugins/bootstrap/bootstrap.min.js") }}"></script>
  	<!-- wow js -->
  	<script src="{{ asset("plugins/wow-js/wow.min.js") }}"></script>
  	<!-- slider js -->
  	<script src="{{ asset("plugins/slider/slider.js") }}"></script>
  	<!-- Fancybox -->
  	<script src="{{ asset("plugins/facncybox/jquery.fancybox.js") }}"></script>
  	<!-- template main js -->
  	<script src="{{ asset("js/main.js") }}"></script>
    {% endblock javascripts %}
    </body>
